html, body {
  margin: auto;
  padding: 0;
  background-color: grey;
}

@page {
  size: 297mm 210mm;
}

@media print { 
  html, body {
    margin: auto; 
    padding: 0;
    background-color: grey;
  } 
  #rightDrawer {
    display: none;
  }
}